---
title: Behind Peer
---

<div class="header about-header">
	<div class="layer"></div>
  <nav>
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
  </nav>
  <div class="container">
    <div class="row">
      <div class="twelve">
        <h1>The Story Behind Peer</h1>
        <h2>From concept to product</h2>
      </div>
    </div>
  </div>
</div>

<div class="about-process">
	<div class="container feature-container no-bottom">
		<h1>The Peer Team</h1>
		<div class="row">
			<div class="three columns team-profile">
				<%= image_tag "about/sarah.jpg"%>
				<h2><a href="http://www.sarahmitrano.com/" target="_blank">Sarah Mitrano</a></h2>
				<p>Intern, turned Designer @ Moment</p>
			</div>
			<div class="three columns team-profile">
				<%= image_tag "about/ian.jpg"%>
				<h2><a href="http://www.iangmorrow.com/" target="_blank">Ian Morrow</a></h2>
				<p>Student @ IIT</p>
			</div>
			<div class="three columns team-profile">
				<%= image_tag "about/andrea.jpg"%>
				<h2><a href="http://andrea-everman.format.com/" target="_blank">Andrea Everman</a></h2>
				<p>Student @ IIT</p>
			</div>
			<div class="three columns team-profile">
				<%= image_tag "about/dpark.jpg"%>
				<h2><a href="http://itsdpark.com/" target="_blank">Daniel Park</a></h2>
				<p>Student @ Parsons</p>
			</div>
		</div>
	</div>

	<div class="container feature-container no-top no-bottom">
		<h1>Background</h1>
		<p class="content">
			Traditional education has a difficult time engaging students when it comes to learning complex, invisible, and abstract science concepts. Moment's 2016 Summer intern group was challenged with the task of finding out how Virtual or Augmented reality could enhance the learning experience for kids 9-14 years old.
		</p>
		<p class="content">
			Using design thinking and employing various techniques, we took on the challenge making learning more fun.
		</p>
	</div>

	<div class="container feature-container no-top no-bottom">
		<h1>Research</h1>
		<p class="content">
			In order to find ways to engage with students in the classroom, we conducted interviews, researched new technologies, and experienced different teaching methods.
		</p>
		<p class="content">
			To better understand how complex subjects are taught today, we reached out to the <a href="http://www.blueschool.org/" target="_blank">Blue School</a>, <a href="http://beamcenter.org/" target="_blank">Beam Center</a>, and <a href="https://www.zearn.org/" target="_blank">Zearn</a> to learn more about teaching methodologies like S.T.E.A.M. (Science Technology Engineering Art and Math) and maker education.
		</p>

		<%= image_tag "about/blueschool.jpg"%>
		<p class="caption">Learning how the Blue School uses S.T.E.A.M. education to teach kids</p>

		<p class="content">After gaining valuable insights into different education techniques, we set out to experience different Virtual and Augmented technologies. All four of us got to try the <a href="https://www.microsoft.com/microsoft-hololens/en-us" target="_blank">Hololens</a>, <a href="https://www.htcvive.com/us/" target="_blank">Vive</a>, <a href="https://ghostbusters.madametussauds.com/" target="_blank">Ghostbusters - the Void</a>, and even <a href="http://giantofficial.com/" target="_blank">Giant</a> (VR Film). We did this to better understand what the limitations and advantages of each technology are.</p>

		<%= image_tag "about/vive.jpg"%>
		<p class="caption">Playing Job Simulator on the HTC Vive.</p>

	</div>

	<div class="container feature-container no-top no-bottom">
		<h1>Insights and Concepting</h1>
		<p class="content">
			From the research, we gathered valuable insights about the mix between technology and education that have started to emerge.  We found that there were certain pain-points and bottlenecks in traditional learning and created a user journey to better understand the specifics of those learning drop-offs. From the user journey, we were able to concept ideas and experiences that might improve engagement in different stages of learning.
		</p>

		<%= image_tag "about/journey.jpg"%>
		<p class="caption">One of the many sketching and ideation sessions for Peer</p>
	</div>

	<div class="container feature-container no-top no-bottom">
		<h1>Prototyping and Design</h1>
		<p class="content">
			After all of the concepting and sketching, it was time to get into higher gidelity prototypes. Initially, we started using brightly colored paper to represent our 3-D virtual objects, but once we got to a point where we were comfortable with the design, we went digital with videos and demos.
		</p>

		<%= image_tag "about/paper.jpg"%>
		<p class="caption">Using paper to understand designs in the 3-D space</p>
	</div>

	<div class="container feature-container no-top no-bottom">
		<h1>Final Product</h1>
		<p class="content">
			After iterating on numerous designs, the team agreed on a final experience and product. The final deliverable for us was a presentation to the entire Moment staff that showcased Peer as an educational learning platform that mixes the digital with the physical.
		</p>

		<%= image_tag "about/prez.jpg"%>
		<p class="caption">Final presentation and reveal of the Peer platform</p>

		<%= image_tag "about/demo1.jpg"%>
		<p class="caption">Momenteers demoing the experience</p>

		<%= image_tag "about/demo2.jpg"%>
		<p class="caption">Momenteers demoing the experience</p>

		<%= image_tag "about/demo3.jpg"%>
		<p class="caption">Momenteers demoing the experience</p>
	</div>

	<div class="container feature-container no-top no-bottom">
		<p class="content">
			Thank you for reading! If you would like to get a more detailed explanation on our process, check out the summer 2016 intern blog: <a href="https://medium.com/momentary-exploration" target="_blank">Momentary Exploration</a>. 
		</p>

		<%= image_tag "about/goodbye.jpg"%>
		<p class="caption">Goodbye from the summer 2016 intern team!</p>
	</div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="three columns">
        <%= image_tag "logo-b.png"%>
        <p>MOMENT SUMMER PROJECT 2016</p>
      </div>

      <div class="nine columns">
        <ul>
          <li><a href="http://momentdesign.com" target="_blank">Moment</a></li>
          <li><a>-</a></li>
          <li><a href="http://momentdesign.com" target="_blank">Home</a></li>
          <li><a href="http://momentdesign.com" target="_blank">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>










