---
title: Behind Peer
---

<div class="header about-header">
	<div class="layer"></div>
  <nav>
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
  </nav>
  <div class="container">
    <div class="row">
      <div class="twelve">
        <h1>The story behind Peer</h1>
        <h2>From concept to product</h2>
      </div>
    </div>
  </div>
</div>

<div class="about-process">
	<div class="container feature-container no-bottom">
		<h1>The Peer team</h1>
		<div class="row">
			<div class="three columns team-profile">
				<%= image_tag "about/sarah.jpg"%>
				<h2>Sarah Mitrano</h2>
				<p>Designer @ Moment</p>
			</div>
			<div class="three columns team-profile">
				<%= image_tag "about/ian.jpg"%>
				<h2>Ian Morrow</h2>
				<p>Student @ IIT</p>
			</div>
			<div class="three columns team-profile">
				<%= image_tag "about/andrea.jpg"%>
				<h2>Andrea Everman</h2>
				<p>Student @ IIT</p>
			</div>
			<div class="three columns team-profile">
				<%= image_tag "about/dpark.jpg"%>
				<h2>Daniel Park</h2>
				<p>Student @ Parsons</p>
			</div>
		</div>
	</div>

	<div class="container feature-container no-top no-bottom">
		<h1>Background</h1>
		<p class="content">
			Traditional education is difficult to engage students when learning complex, invisible, and abstract science concepts. The challenge was to find out how Virtual or Augmented reality could enhance the learning experience for kids aged between 9-14.
		</p>
		<p class="content">
			Using design thinking and employing various techniques we took on the challenge of making learning more fun.
		</p>
	</div>

	<div class="container feature-container no-top no-bottom">
		<h1>Research</h1>
		<p class="content">
			In order to find ways to engage with students in the classroom we went out to conduct interviews, research new technologies, and experience different teaching methods.
		</p>
		<p class="content">
			To better understand how complex subjects are taught today we reached out to the <a href="http://www.blueschool.org/" target="_blank">Blue School</a>, <a href="http://beamcenter.org/" target="_blank">Beam Center</a>, and <a href="https://www.zearn.org/" target="_blank">Zearn</a> to learn more about teaching methodologies like STEAM and maker education.
		</p>

		<%= image_tag "about/blueschool.jpg"%>
		<p class="caption">Learning how the Blue School uses STEAM education to teach kids</p>

		<p class="content">After gaining valuable insights in different education techniques, we went out to experience the different Virtual and Augmented technologies. All four of us got to try the <a href="https://www.microsoft.com/microsoft-hololens/en-us" target="_blank">Hololens</a>, <a href="https://www.htcvive.com/us/" target="_blank">Vive</a>, <a href="https://ghostbusters.madametussauds.com/" target="_blank">Ghostbusters - the Void</a>, and even experience <a href="http://giantofficial.com/" target="_blank">Giant</a> (VR Film). We did this in order to better understand what the limitations and advantages of each technology is.</p>

		<%= image_tag "about/vive.jpg"%>
		<p class="caption">Trying out the HTC Vive and playing Job Simulator</p>

	</div>

	<div class="container feature-container no-top no-bottom">
		<h1>Insights and Concepting</h1>
		<p class="content">
			From the research gathered, valuable insights about the mesh between technology and education started to emerge.  We found that there were certain pain-points and bottlenecks in traditional learning and created a user journey to better understand the specifics of those learning drop-offs. From the user journey we were able to concept ideas and experiences that might improve engagement in that particular stage of learning.
		</p>

		<%= image_tag "about/journey.jpg"%>
		<p class="caption">One of the many sketching and ideation sessions for Peer</p>
	</div>

	<div class="container feature-container no-top no-bottom">
		<h1>Prototyping and Design</h1>
		<p class="content">
			After all of the concepting and sketching it was time to make prototypes and get into a higher fidelity. We started initially using brightly colored paper to represent our 3D virtual objects, but once we got to a point where we were comfortable with the design we went digital with either video or a demo.
		</p>

		<%= image_tag "about/paper.jpg"%>
		<p class="caption">Using paper to understand designs in the 3D space</p>
	</div>

	<div class="container feature-container no-top no-bottom">
		<h1>Final Product</h1>
		<p class="content">
			After iterating over numerous designs, the team agreed on a final experience and product. The final deliverable for us was a presentation to the entire Moment company showcasing Peer as an educational learning platform meshing the digital with the physical.
		</p>

		<%= image_tag "about/prez.jpg"%>
		<p class="caption">Final presentation and reveal of the Peer platform</p>

		<%= image_tag "about/demo1.jpg"%>
		<p class="caption">Momenteers trying a demo experience</p>

		<%= image_tag "about/demo2.jpg"%>
		<p class="caption">Momenteers trying a demo experience</p>

		<%= image_tag "about/demo3.jpg"%>
		<p class="caption">Momenteers trying a demo experience</p>
	</div>

	<div class="container feature-container no-top no-bottom">
		<p class="content">
			Thank you for reading and if you would like to get more detailed explanations on our process check out the blog that we wrote during our process - <a href="https://medium.com/momentary-exploration" target="_blank">Momentary Exploration</a>. 
		</p>

		<%= image_tag "about/goodbye.jpg"%>
		<p class="caption">Good bye from the Summer 2016 intern team!</p>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="six columns">
				<h1>Moment</h1>
			</div>
		</div>
	</div>
</footer>














