---
title: Peer
---

<div class="header">
  <%= image_tag "circle.png", :class => 'circle' %>
  <div class="container">
    <div class="row">
      <div class="twelve">
        <%= image_tag "logo.png"%>
        <h1>A mixed reality educational experience</h1>
        <h2>Something Amazing - Buzzwords</h2>
        <a href="#" class="button video">Watch the Video</a>
      </div>
    </div>
  </div>
</div>

<div class="container feature-container">
  <div class="row">
    <div class="twelve">
      <h1>Peer is transforming education by:</h1>
    </div>
  </div>

  <div class="row feature-list">
    <div class="four columns">
      <%= image_tag "context.jpg"%>
      <h2>Providing Context</h2>
      <p>Peer has the unique advantage of displaying abstract concepts.</p>
    </div>

    <div class="four columns">
      <%= image_tag "prototype.jpg"%>
      <h2>Facilitating Prototyping</h2>
      <p>Peer has the unique advantage of displaying abstract concepts.</p>
    </div>

    <div class="four columns">
      <%= image_tag "collab.jpg"%>
      <h2>Opening Collaboration</h2>
      <p>Peer has the unique advantage of displaying abstract concepts.</p>
    </div>
  </div>
</div>

<div class="container feature-container line-top">
  <div class="row">
    <div class="twelve">
      <h1>The technology behind Peer</h1>
    </div>
  </div>
</div>




















