---
title: Peer
---



<div class="header">
  <nav>
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
  </nav>
  <%= image_tag "circle.png", :class => 'circle' %>
  <div class="container">
    <div class="row">
      <div class="twelve">
        <%= image_tag "logo.png"%>
        <h1>A mixed reality educational experience</h1>
        <h2>Something Amazing - Buzzwords</h2>
        <a href="#" class="button video">Watch the Video</a>
      </div>
    </div>
  </div>
</div>

<div class="container feature-container">
  <div class="row">
    <div class="twelve">
      <h1>Peer is transforming education by:</h1>
    </div>
  </div>

  <div class="row feature-list">
    <div class="four columns">
      <%= image_tag "context.jpg"%>
      <h2>Providing Context</h2>
      <p>Peer has the unique advantage of combining the digital and physical in order to make hard to see or abstract concepts tangible and visible.</p>
    </div>

    <div class="four columns">
      <%= image_tag "prototype.jpg"%>
      <h2>Facilitating Prototyping</h2>
      <p>In reducing the feedback loop, Peer allows students to quickly iterate over their designs so that they can innovate quicker.</p>
    </div>

    <div class="four columns">
      <%= image_tag "collab.jpg"%>
      <h2>Opening Collaboration</h2>
      <p>By providing a safe and open environment, the students are able to work together and build off of one another's ideas through collaboration.</p>
    </div>
  </div>
</div>

<hr>

<div class="container feature-container technology">
  <div class="row">
    <div class="twelve">
      <h1>The technology behind Peer</h1>
    </div>
  </div>

  <div class="row feature-list">
    <div class="seven columns image">
      <%= image_tag "sensor.jpg"%>
    </div>
    <div class="five columns">
      <h2>Internet Enabled Sensors</h2>
      <p style="margin-left: 0; width: 100%;">Depending on the subject lesson, an internet enabled sensor will collect different data types. After collecting data like rotational speed, acceleration, or sound the sensor sends the real data to the cloud to be used in the Mixed Reality experience.</p>
    </div>
  </div>

  <div class="row feature-list">
    <div class="five columns text-right">
      <h2>Mixed Reality Experience</h2>
      <p style="margin-right: 0; width: 100%;"">After collecting real World data from the sensor, the headset allows the student to view their progress and results in a mixed reality simulation. Using mixed reality opens up the the possibility of meshing the digital and the physical in one experience.</p>
    </div>
    <div class="seven columns image">
      <%= image_tag "headset.jpg"%>
    </div>
  </div>

</div>


<div class="platform">
  <div class="container feature-container">
    <div class="row">
      <div class="twelve">
        <h1>The potential of Peer</h1>
        <p>Peer as a platform is flexible and adaptable to the classroom’s needs. The instructor has full control over the type of lesson that they want to teach using the Peer platform.  Below are some of the lesson plans that are in development</p>
      </div>
    </div>

    <div class="row platform-icons">
      <div class="columns two">
        <%= image_tag "platform/aerodynamics.png"%>
        <p>Aerodynamics</p>
      </div>

      <div class="columns two">
        <%= image_tag "platform/acceleration.png"%>
        <p>Acceleration</p>
      </div>

      <div class="columns two">
        <%= image_tag "platform/bonds.png"%>
        <p>Bonds</p>
      </div>

      <div class="columns two">
        <%= image_tag "platform/force.png"%>
        <p>Force</p>
      </div>

      <div class="columns two">
        <%= image_tag "platform/sound.png"%>
        <p>Waves</p>
      </div>

      <div class="columns two">
        <%= image_tag "platform/gravity.png"%>
        <p>Gravity</p>
      </div>
    </div>
  </div>  
</div>

<div class="container feature-container">
  <div class="row feature-list" style="padding-top: 0; ">
    <div class="twelve">
      <h1 style="margin-top: 0; ">The idea behind Peer</h1>
      <p>Rather than a pure virtual reality experience that replaces the context of the environment that leaves every student stranded on their own island, Peer and mixed reality brings students together and allow them to collaborate more fully.</p>
    </div>
  </div>
</div>  

<footer>
  <div class="container">
    <div class="row">
      <div class="three columns">
        <%= image_tag "logo-b.png"%>
        <p>MOMENT SUMMER 2016</p>
      </div>

      <div class="nine columns">
        <ul>
          <li><a href="http://momentdesign.com" target="_blank">Moment</a></li>
          <li><a>-</a></li>
          <li><a href="http://momentdesign.com" target="_blank">Home</a></li>
          <li><a href="http://momentdesign.com" target="_blank">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


















