---
title: Peer
---

<div class="video">
  <a class="close-video"><i class="fa fa-times"></i></a>
  <iframe class="video-frame" width="900" height="506" frameborder="0"></iframe>
</div>

<div class="header">
  <nav>
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
  </nav>
  <%= image_tag "circle.png", :class => 'circle' %>
  <div class="container">
    <div class="row">
      <div class="twelve">
        <%= image_tag "logo.png"%>
        <h1>Mixed Reality Educational Experience</h1>
        <!-- <h2>Something Amazing - Buzzwords</h2> -->
        <a class="button play-video">Watch the Video</a>
      </div>
    </div>
  </div>
</div>

<div class="container feature-container">
  <div class="row">
    <div class="twelve">
      <h1>Peer transforms education</h1>
    </div>
  </div>

  <div class="row feature-list">
    <div class="four columns">
      <%= image_tag "context.jpg"%>
      <h2>Provides Context</h2>
      <p>Peer's unique advantage combines the digital and physical in order to make hard to see, abstract concepts tangible and visible.</p>
    </div>

    <div class="four columns">
      <%= image_tag "prototype.jpg"%>
      <h2>Facilitates Prototyping</h2>
      <p>To reduce the feedback loop, Peer allows students to quickly iterate their designs so that they can innovate at a rapid pace.</p>
    </div>

    <div class="four columns">
      <%= image_tag "collab.jpg"%>
      <h2>Opens Collaboration</h2>
      <p>By providing a safe and open environment, students are able to work together and build from one another's ideas through collaboration.</p>
    </div>
  </div>
</div>

<hr>

<div class="container feature-container technology">
  <div class="row">
    <div class="twelve">
      <h1>The technology behind Peer</h1>
    </div>
  </div>

  <div class="row feature-list">
    <div class="seven columns image">
      <%= image_tag "sensor.jpg"%>
    </div>
    <div class="five columns">
      <h2>Internet Enabled Sensors</h2>
      <p style="margin-left: 0; width: 100%;">Depending on the subject and lesson, an Internet-enabled sensor will collect different data types. After collecting data like rotational speed, acceleration, or sound, the sensor sends real data to the cloud to be used in the Mixed Reality experience.</p>
    </div>
  </div>

  <div class="row feature-list">
    <div class="five columns text-right">
      <h2>Mixed Reality Experience</h2>
      <p style="margin-right: 0; width: 100%;"">After collecting data from the sensor, the headset allows students to view their progress and results in a Mixed Reality simulation. Opening the possibility of mixing the digital and physical in a single experience</p>
    </div>
    <div class="seven columns image">
      <%= image_tag "headset.jpg"%>
    </div>
  </div>

</div>


<div class="platform">
  <div class="container feature-container">
    <div class="row">
      <div class="twelve">
        <h1>The potential of Peer</h1>
        <p>Peer's platform is flexible and adaptable to the classroom’s needs. The instructor has full control over the type of lesson that they want to teach using  Peer. Below are some lesson plans currently in development</p>
      </div>
    </div>

    <div class="row platform-icons">
      <div class="columns two">
        <%= image_tag "platform/aerodynamics.png"%>
        <p>Aerodynamics</p>
      </div>

      <div class="columns two">
        <%= image_tag "platform/acceleration.png"%>
        <p>Acceleration</p>
      </div>

      <div class="columns two">
        <%= image_tag "platform/bonds.png"%>
        <p>Bonds</p>
      </div>

      <div class="columns two">
        <%= image_tag "platform/force.png"%>
        <p>Force</p>
      </div>

      <div class="columns two">
        <%= image_tag "platform/sound.png"%>
        <p>Waves</p>
      </div>

      <div class="columns two">
        <%= image_tag "platform/gravity.png"%>
        <p>Gravity</p>
      </div>
    </div>
  </div>  
</div>

<div class="container feature-container">
  <div class="row feature-list" style="padding-top: 0; ">
    <div class="twelve">
      <h1 style="margin-top: 0; ">The idea behind Peer</h1>
      <p>Rather than a pure Virtual Reality experience that replaces environmental context that leaves students stranded on their own islands, Peer brings students together and allows them to collaborate more fully.</p>
    </div>
  </div>
</div>  

<footer>
  <div class="container">
    <div class="row">
      <div class="three columns">
        <%= image_tag "logo-b.png"%>
        <p>MOMENT SUMMER PROJECT 2016</p>
      </div>

      <div class="nine columns">
        <ul>
          <li><a href="http://momentdesign.com" target="_blank">Moment</a></li>
          <li><a>|</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>



















